.google-map {
    position: relative;
    width: 100%;
    height: 550px;
    margin-bottom: 0px;
    @include media('<tablet') {
                height: 350px;
            }
}

#map_canvas {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.map-opener {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #fff;
    opacity: 0.3;
    z-index: 9999;
    cursor: pointer;
}

.map-active {
    .map-opener {
        z-index: -1
    }
}

.map-marker-label {
	position: absolute;
	color: #820101;
	font-size: 16px;
	font-weight: bold;
}
