.visual-large {
	display: flex;
	overflow: hidden;
	margin-bottom: 43px;
	flex-wrap: wrap;
	justify-content: flex-end;
	@include media('<tablet') {
		margin-bottom: 15px;
		padding: 0 30px;
	}
	@include media('<phone') {
		padding: 0;
	}
	h1 {
		color: $brown;
		margin-bottom: 31px;
		line-height: 1.2;
	}
	@include media('<tablet') {
		flex-direction: column-reverse;
	}
	.text-holder {
		width: 60%;
		background-color: rgba(#033030, .75);
		padding: 73px 70px 73px 80px;
		letter-spacing: 0.3px;
		@include media('<desktop') {
			padding: 30px;
		}
		@include media('<tablet') {
			width: 100%;
			padding: 20px;
		}
		p {
			margin-bottom: 43px;
			@include media('<desktop') {
				margin-bottom: 30px;
			}
			@include media('<tablet') {
				margin-bottom: 20px;
			}
		}
	}
	.img-holder {
		width: 40%;
		min-height: 100%;
		display: flex;
		&:after {
			content: '';
			height: 100%;
		}
		@include media('<tablet') {
			width: 100%;
			height: 300px;
		}
	}
	.img-box {
		display: flex;
		width: 100%;
		min-height: 100%;
		background-size: cover;
		background-position: 50% 50%;
	}
	img {
		vertical-align: top;
	}
}

.visual-light {
	@extend .visual-large;
	margin-bottom: 50px;
	.text-holder {
		background-color: $cream;
		position: relative;
		padding: 80px 70px 44px 93px;
		@include media('<desktop') {
			padding: 30px;
		}
		@include media('<tablet') {
			padding: 20px;
		}
		&:after {
			content: '';
			@include triangle(26px 16px, $white, right);
			position: absolute;
			top: 90px;
			left: 0;
			@include media('<tablet') {
				bottom: -5px;
				top: auto;
				left: 30px;
				transform: rotate(270deg);
			}
		}
	}
	h1 {
		color: $dark-green;
		margin-bottom: 2px;
	}
	.small-h2 {
		margin-bottom: 35px;
		letter-spacing: 3px;
	}
}

.visual-small {
	@extend .visual-large;
	margin-bottom: 41px;
	@include media('<tablet') {
		flex-direction: column;
		align-items: flex-start;
	}
	.text-holder {
		width: 40%;
		background: transparent;
		padding: 71px 20px 53px 0;
		@include media('<tablet') {
			width: 100%;
			padding: 15px 10px;
		}
	}
	.img-holder {
		width: 60%;
		@include media('<tablet') {
			width: 100%;
			height: 200px;
		}
	}
	h1 {
		color: $white;
		margin-bottom: 22px;
	}
	.btn {
		margin: -30px 40px 0 0;
		@include media('<tablet') {
			margin: -30px 0 0 20px;
		}
	}
	.small-h2 {
		letter-spacing: 2.8px;
	}
}

.visual-white {
	@extend .visual-large;
	margin-bottom: 40px;
	.text-holder {
		background-color: $white;
		color: $dark-green;
		letter-spacing: 0px;
		p {
			margin-bottom: 32px;
		}
	}
	h1 {
		margin-bottom: 21px;
	}
	&.btn-abs {
		position: relative;
		overflow: visible;
		margin-bottom: 77px;
		@include media('<tablet') {
			margin-bottom: 50px;
		}
		.text-holder {
			padding-bottom: 30px;
			@include media('<tablet') {
				position: relative;
			}
			.btn {
				position: absolute;
				bottom: -30px;
				right: 41px;
			}
			.small-h2 {
				color: $dark-green;
			}
		}
	}
}

.visual-brown {
	@extend .visual-large;
	margin-bottom: 39px;
	@include media('<tablet') {
		flex-direction: column;
	}
	h1 {
		color: $dark-green;
		margin-bottom: 21px;
	}
	.text-holder {
		background-color: $brown-light;
		color: $white;
		letter-spacing: 0.8px;
		p {
			margin-bottom: 32px;
		}
	}
	dl {
		margin-top: 0;
		margin-bottom: 28px;
	}
}

.stroke {
	position: relative;
	padding-left: 81px;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: calc(50% - 1px);
		height: 2px;
		width: 53px;
		background-color: $brown;
		display: block;
	}
}

.separeted-block {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 9px;
	.heading-holder {
		width: 34.3%;
		border-right: 2px solid rgba($white, .9);
		@include media('<tablet') {
			border: none;
			width: 100%;
		}
		h1 {
			margin-bottom: 0;
			line-height: 1.2;
			@include media('<desktop') {
				font-size: 26px;
			}
		}
	}
	.text-holder {
		width: 65.70%;
		padding-left: 58px;
		font-size: 18px;
		font-family: $base-font-serif;
		font-style: italic;
		line-height: 1.7;
		p {
			margin-bottom: 26px;
		}
		@include media('<tablet') {
			width: 100%;
			padding: 0;
		}
	}
}

.termine-list {
	dt,
	dd {
		display: inline;
		margin: 0;
		@include media('<tablet') {
			display: block;
			&:after {
				white-space: normal;
				display: none;
			}
		}
	}
	dd:after {
		content: '\A';
		white-space: pre;
	}
}

.tarifes {
	display: block;
	margin: -8px 0 0;
	font-weight: 600;
}

.tarifes-list {
	@extend %listreset;
	margin-bottom: 30px;
	font-weight: 600;
}

.visual-brown.previw-inside {
	padding-top: 60px;
	overflow: visible;
	margin-bottom: 151px;
	p {
		margin-bottom: 5px;
	}
	@include media('<tablet') {
		padding-top: 30px;
		margin-bottom: 30px;
	}
	@include media('<phone') {
		padding-top: 20px;
	}
	.img-holder {
		position: relative;
		@include media('<tablet') {
			margin-bottom: 140px;
		}
	}
}
