.container {
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto;
	@extend %clearfix;
}
.content-holder{
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding-bottom: 80px;
}
.resize-active * {
	transition: none !important;
}
.nav-active{
	overflow: hidden;
}